<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="Groups" value="بطری و ظروف نگهدارنده مایعات,قاب عکس,ساعت,چایخوری و قهوه خوری,مجسمه و گوی,سبد,کیک و شیرینی خوری,ظروف و سرویس سرامیکی,اردور خوری,سینی,گل و گلدان,جعبه جواهرات,ماگ,سایر,منوی اصلی" />
    <add key="RowItems" value="3" />
    <add key="DollarPrice" value="14000" />
    <add key="BotName" value="BTCPost" />
    <add key="CoinsCount" value="15" />
    <add key="PostIntervalHours" value="6" />
    <add key="JobStartTime" value="12:00" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>