<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CambridgePostEnabled" value="0" />
    <add key="CambridgePostIntervalMins" value="1" />
    <add key="CambridgeJobStartTime" value="16:00" />

    <add key="ListenAMinPostEnabled" value="0" />
    <add key="ListenAMinPostIntervalMins" value="1" />
    <add key="ListenAMinJobStartTime" value="16:00" />

    <add key="EslFastPostEnabled" value="0" />
    <add key="EslFastPostIntervalMins" value="1" />
    <add key="EslFastJobStartTime" value="16:00" />

    <add key="PhotoWithTextPostEnabled" value="1" />
    <add key="PhotoWithTextIntervalMins" value="3" />
    <add key="PhotoWithTextJobStartTime" value="17:00" />

    <add key="ApiToken" value="597852449:AAERAuRB3lgZfyCgRFuCioXC92KZowaDJSM" />
    <add key="ChatId" value="-1001259894749" />
    <!---1001128563406 ->@englishwithsamet-->

    <add key="ListenAMinTextFilePath" value="C:\Users\Arash\Documents\visual studio 2015\Projects\Instagram\PostBot\ListenAMin.txt" />
    <add key="ListenAMinPhotoFilePath" value="C:\Users\Arash\Documents\visual studio 2015\Projects\Instagram\PostBot\Images\ListenAMin.jpg" />

    <add key="CambridgeTextFilePath" value="C:\Users\Arash\Documents\visual studio 2015\Projects\Instagram\PostBot\Vocabs.txt" />
    <add key="CambridgePhotoFilePath" value="C:\Users\Arash\Documents\visual studio 2015\Projects\Instagram\PostBot\Images\Vocab.jpg" />

    <add key="EslFastTextFilePath" value="C:\Users\Arash\Documents\visual studio 2015\Projects\Instagram\PostBot\EslFastLinks.txt" />
    <add key="EslFastPhotoFilePath" value="C:\Users\Arash\Documents\visual studio 2015\Projects\Instagram\PostBot\Images\EslFast.jpg" />

    <add key="WatermarkPath" value="C:\Users\Arash\Documents\visual studio 2015\Projects\Instagram\PostBot\Images\watermark.png" />
    <add key="PhotoWithTextFolderPath" value="C:\Users\Arash\Documents\visual studio 2015\Projects\Instagram\PostBot\Images\PhotoWithText" />

  </appSettings>
</configuration>