<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Groups" value="بطری و ظروف نگهدارنده مایعات,قاب عکس,ساعت,چایخوری و قهوه خوری,مجسمه و گوی,سبد,کیک و شیرینی خوری,ظروف و سرویس سرامیکی,اردور خوری,سینی,گل و گلدان,جعبه جواهرات,ماگ,سایر,منوی اصلی"/>
    <add key="RowItems" value="3"/>
    <add key="Path" value="c:\1\"/>
  </appSettings>
</configuration>